<html>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<style>
a {
  color: white;
}

h1 {
  color: green;
}

.boxed {
  border: 1px solid green ;
  width: 500px;
  text-align: center;
  color: red;
}

</style>
<center><h1> Profile </h1></center>
<br></br>
<div class = "profile">
  <center><button type="button" class="btn btn-primary btn-lg"><a href = "/location">Searched Location</a></button></center>
  <br></br>

  <center><button type="button" class="btn btn-primary btn-lg"><a href = "/map">Map Application</a></button></center>
<br></br>
<br></br>
<center><div class="boxed">
  <ul>
    <li>* On clickin the Map application, you need to press enter to get the data logged into database</li>
</div></center>

</html>
